@import "./global.css";

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.title.inicio {
  text-align: center;
  width: 70%;
}

.slider-container {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  max-width: 1000px;
  display:flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.photo-slider {
  width: 70%;
}

.photo-slider img {
  max-width: 100%;
  height: auto;
}
