@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #d1a602;
  --secondary-color: #000;
  --bg-color: #e6e5e5;
  --text-color: #747474;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --togle-color: #747474 A;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2 ease;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 250px;
  background-color: var(--primary-color);
  border-right: 1px solid #f9c4405d;
  transition: var(--tran-05);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

nav::-webkit-scrollbar {
  width: 0;
}

nav.close {
  width: 75px;
  transition: var(--tran-05);
}

nav .logo-image {
  transition: var(--tran-05);
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .sidebar-button {
  display: flex;
  justify-content: left;
  transition: var(--tran-05);
}

nav.close .sidebar-button {
  display: flex;
  justify-content: left;
  transition: var(--tran-05);
}

.sidebar-toggle {
  display: flex;
  justify-content: center;
  width: 45px;
}

nav.close .logo-image {
  margin-top: 1rem;
  transition: var(--tran-05);
}

nav .logo-image img {
  width: 110px;
  object-fit: cover;
  transition: var(--tran-05);
  max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
  height: auto;
}

nav.close .logo-image img {
  width: 42px;
  transition: var(--tran-05);
}

nav .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--tran-05);
}

nav.close .menu-items {
  opacity: 0;
  pointer-events: none;
}

.menu-items .nav-link-item {
  list-style: none;
  margin: 0.5rem auto;
}

.menu-items .nav-link-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: fit-content;
  position: relative;
}

.menu-items .nav-link-item a:hover:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.menu-items .nav-link-item a .nav-link-icon {
  min-width: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.menu-items .nav-link-item a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-icon-color);
  transition: var(--tran-05);
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  padding-left: 1rem;
}

nav.close .nav-link-item a .link-name {
  opacity: 0;
  pointer-events: none;
}

.nav-links .nav-link-item a:hover i,
.nav-links .nav-link-item a:hover .link-name {
  color: var(--secondary-color);
}

.logout-mod {
  padding-top: 10px;
  border-top: 1px solid #f9c4405d;
}

.logout-mod .nav-link-item .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-icon-color);
  transition: var(--tran-05);
  font-family: "Poppins", sans-serif;
}

.logout-mod .nav-link-icon {
  min-width: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}


.info-the-five {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: var(--tran-03);
}
nav.close .info-the-five {
  opacity: 0;
  pointer-events: none;
}

.txt-the-five {
  color: #7e6500;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}

@media (max-width: 800px) {
  .dashboard .top .sidebar-toggle {
    display: block;
  }
}

.section-content {
  margin-left: 270px;
}

.section-content-form {
  margin-left: 270px;
  width: 50%;
  max-width: 1000px;
  min-width: 250px;
}

.table-container-format {
  margin: 10px 20px 10px 0;
  padding: 5px 5px 5px 5px;
  max-width: 1000px;
  width: 95%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow-x: auto;
}

.selected-row {
  background-color: #d0d0d0;
}

.selected-cell {
  font-weight: bold;
}

.home .title,
.home .subtitle {
  font-family: "Poppins", sans-serif;
}

.home .title {
  font-size: 30px;
}

.home .subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.search-box {
  width: 400px;
  margin-top: 1rem;
  margin-left: 0;
  font-size: 16px;
  border-radius: 10px;
}

.search-box .input-search {
  position: absolute;
  border: 3px solid #7e530f;
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0 25px 0 50px;
  height: 50px;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: none;
}
.input-search::placeholder {
  color: #747474;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 10px;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  color: #7e530f;
  pointer-events: painted;
  padding: 0;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 10px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 10px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.btn-create {
  margin-left: 350px;
  width: max-content;
  padding: 10px 5px;
  color: white;
  background-color: #7e530f;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.btn-create-sin-searchbox {
  width: max-content;
  padding: 10px 5px;
  color: white;
  background-color: #7e530f;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.btn-informe {
  width: max-content;
  padding: 10px 5px;
  color: white;
  background-color: #7e530f;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.scrollable-sidebar {
  height: 100%;
  overflow-y: auto;
  transition: var(--tran-05);
  overflow-x: hidden;
}

.scrollable-sidebar.close {
  transition: var(--tran-05);
  overflow-x: hidden;
}

.scrollable-sidebar::-webkit-scrollbar {
  width: 7px;
}

.scrollable-sidebar::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}

.sub-menu {
  margin-left: 0px;
}

.sub-menu li {
  padding: 5px;
  background-color: #b18e02;
}

.nav-link-item ul {
  list-style-type: none;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.cell-head-TableContainer {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.button-on-table-modificar {
  font-weight: bold;
  border-radius: 20px;
  background-color: #fcc840;
  color: #000;
}

.button-on-table-modificar:focus,
.button-on-table-modificar:active,
.button-on-table-modificar::after,
.button-on-table-modificar:focus-visible {
  font-weight: bold;
  border-radius: 20px;
  background-color: #fcc840;
  color: #000;
}

.button-on-table-baja {
  font-weight: bold;
  border-radius: 20px;
  background-color: #ff3434;
  color: #fff;
}

.button-on-table-whatsapp {
  font-weight: bold;
  border-radius: 20px;
  background-color: #34ff60;
  color: #000000;
}

.button-guardar {
  padding: 5px;
  color: white;
  background-color: #7e530f;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.button-cerrar-detalles {
  padding: 5px;
  color: white;
  background-color: #7e530f;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}

.subtitulo-tablas {
  margin-bottom: 0px;
  padding: 5px;
  color: #7e530f;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.driver-popover.driverjs-theme {
  font-family: "Poppins", sans-serif;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-family: "Poppins", sans-serif;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  font-family: "Poppins", sans-serif;
}

.driver-popover.driverjs-theme button {
  text-align: center;
  border: 2px solid #000;
  text-shadow: none;
  font-size: 14px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #000;
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: center;
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #9b9b9b;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
