.material-ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-box {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 24px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-box h2 {
    margin-bottom: 20px;
  }
  
  .vbtn {
    background-color: #7e530f !important; /* Nuevo color para el botón */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .vbtn:hover {
    background-color: #6b4a0e; /* Color al pasar el mouse */
  }

  .submitButton {
    background-color: #fcb404 !important;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .login-label input:focus {
    border-bottom: solid 2px #fcb404;
  }
  
  .login-label label:focus-within {
    color: #fcb404;
  }